header,
main,
aside,
footer,
div {
    border: 1px solid;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #22b6fad8;
}

main {
    flex-basis: 70%;
    background-color: beige;
}

.box1,
.box2,
.box3 {
    background-color: rgb(235, 216, 51);
}

.title {
    display: flex;
    justify-content: center;
    margin: 10px;
    border: none;
}

.conteiner-main {
    display: flex;
    justify-content: space-between;

}

.box1 {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    height: 50px;

}

.box2 {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    height: 50px;

}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.conteiner {
    display: flex;
}

aside {
    display: flex;
    flex-basis: 30%;
    background-color: rgba(128, 236, 128, 0.699);
    justify-content: center;
}

footer {
    background-color: #22b6fad8;
    display: flex;
    justify-content: space-around;
    background-color: rgb(209, 209, 209);
}

.footerbox {
    background-color: rgb(184, 184, 184);
}